<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSP.ConsoleX.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
    <applicationSettings>
        <SSP.ConsoleX.My.MySettings>
            <setting name="PressAnyKeyMessage_a_Default" serializeAs="String">
                <value>Press any key to continue</value>
            </setting>
            <setting name="PressAnyKeyMessage_de_DE" serializeAs="String">
                <value>Taste, um fortzufahren</value>
            </setting>
            <setting name="PressAnyKeyMessage_en_US" serializeAs="String">
                <value>Press any key to continue</value>
            </setting>
            <setting name="WrongNumberParametersMessage" serializeAs="String">
                <value>Wrong number of parameters</value>
            </setting>
            <setting name="HelpOptionDescription" serializeAs="String">
                <value>Zeigt diese Hilfe.</value>
            </setting>
            <setting name="HelpPageHintsHeader" serializeAs="String">
                <value>Hinweise:</value>
            </setting>
            <setting name="HelpPageSamplesHeader" serializeAs="String">
                <value>Beispiele:</value>
            </setting>
            <setting name="HelpPageApplicationDescriptionHeader" serializeAs="String">
                <value>Beschreibung:</value>
            </setting>
        </SSP.ConsoleX.My.MySettings>
    </applicationSettings>
</configuration>
